@font-face {
    font-family: 'Roboto-regular';
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-italic';
    src: url(../fonts/roboto/Roboto-Italic.ttf);
}

@font-face {
    font-family: '';
    src: url(../fonts/roboto/Roboto-Bold.ttf);
}