@font-face {
    font-family: 'Montserrat-Black';
    src: url(../fonts/montserrat/Montserrat-Black.ttf);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url(../fonts/montserrat/Montserrat-Light.ttf);
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-Thin';
    src: url(../fonts/montserrat/Montserrat-Thin.ttf);
}