@import 'root.css';


header {
    height: 100vh;
    background: url(../img/header_bg.jpg) no-repeat center center /cover;
    min-height: 590px;
    max-height: 800px;
    color: white;
}


.tel {
    font-size: 24px;
    display: inline-block;
    margin-right: 50px;
    font-family: 'Montserrat-Regular';
    color: white;
}

.call_me {    
    font-size: 16px;
    padding: 15px 25px;
    background: #68bf3b;
    border-radius: 25px;
    font-family: 'Montserrat-Regular';
    color: white;
}

.col a{
    text-decoration: none;    
}

.col a:hover{
    color: white;    
}

.col {
    display: flex;
    align-items: center;
}

.header_nav {
    margin-top: 30px;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    color: white;
}

.header_content_subtitle {
    font-size: 18px;
    font-family: 'Montserrat-Black';
    margin-bottom: 20px;
}

.header_content_title {
    font-family: 'Montserrat-Black';
    font-size: 72px;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.header_content_price {
    font-size: 18px;
    font-family: 'Montserrat-Regular';
    margin-bottom: 50px;
    text-transform: uppercase;
}

.header_content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.header_content_link {
    padding: 15px 45px;
    border-radius: 25px;
    font-size: 16px;
    background: #3d8601;
    color: white;
}

.header_content a{
    text-decoration: none;
}

.author_sign {
    width: auto;
}



.author_title {
    display: inline-block;
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    color: #68bf3b;
    margin-top: 110px;
    margin-bottom: 70px;
}

.author_desc {
    font-family: 'Montserrat-Regular';
    font-size: 18px;
    line-height: 36px;
    color: #bdbdbd;
}

.author_name {
    display: flex;
    align-items: center;
    font-family: 'Montserrat-Bold';
    font-size: 24px;
    color: #bdbdbd;
    margin-right: 60px;
    justify-content: space-between;
}

.menu_title {
    display: flex;    
    margin-top: 70px;
    margin-bottom: 50px;
    font-family: 'Montserrat-Bold';
    font-size: 36px;
    color: #68bf3b;
}

.menu_product_sale{
    display:flex;
    align-items: center;
    justify-content: center;
    background: #68cd16;
    border-radius: 50%;
    font-family: 'Montserrat-Bold';
    font-size: 18px;
    color: white;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 60px;
    height: 60px;
    text-align: center; 
}

.menu_product_image{
    position: relative;
}

.menu_desc h2{    
    font-family: 'Montserrat-Bold';
    font-size: 30px;
    color: #a6a6a6;
    margin-bottom: 30px;
}

.menu_desc ul{
    
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    color: #a6a6a6;
    line-height: 24px;
}

.menu_product_price{
    
    flex-direction: column;    
}

.menu_product_item{
    margin-bottom: 50px;
    align-items: center;
}

.menu_product_price p{
    margin-bottom: 30px;
    font-size: 30px;
    font-family: 'Montserrat-Bold';
    color: #a6a6a6;    
}

.menu_product_price p span{
    font-size: 18px;
    font-family: 'Montserrat-Light';
    color: #a6a6a6;
    margin-left: 10px;
}

.menu_product_link{
    background: #3d8601;
    border-radius: 25px;
    align-items: center;
    padding: 20px 45px;
    color: white;
    font-family: 'Montserrat-Regular';
    font-size: 16px;    
}

.menu_product_price a{   
    text-decoration: none;    
}

.menu_product_price a:hover{   
    color: white;    
}

.main_client{
    margin-top: 150px;
}

.client_item{
    display: flex;
    align-items: center;      
    flex-direction: column;    
}

.client_item h2{
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    color: #a6a6a6;
}

.client_desc{
    display: flex;
    align-items: center;
    font-family: 'Montserrat-Regular';
    font-size: 14px;  
    color: #a6a6a6;    
    margin-bottom: 100px;  
    text-align: center;  
}

footer{
    background: black;
}

footer .row{    
    padding-top: 45px;
}

.info{  
    margin-top: 50px;
    margin-bottom: 60px;
    font-family: 'Montserrat-Thin';
    font-size: 16px;
    color: #bdbcbc;
}










